body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #2d3c49; /*208*/
	margin-top: 10px;
	padding: 10px 40px 10px 40px;
}

.text-thin {
	font-weight: 100;
}

.line {
	color: #7d97ad; /*207*/
	height: 4px;
}

img {
	max-width: 100%;
}

.subject {
	margin-top: 20px;
}

.sub-title {
	margin-top: 30px;
	color: #7d97ad;
}

.imagemSvg {
	width: 100px;
	height: 100px;
	color: #02b3e4;
}
/*#02b3e4 => 193*/
.text-uppercase {
	color: #2d3c49;
}

.link-mais {
	color: #2d3c49;
}

.text-footer {
	margin-top: 40px;
	font-size: 14px;
	text-align: center;
}